apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi
        image: 997868087240.dkr.ecr.ap-southeast-1.amazonaws.com/fastapi-eks:latest
        ports:
        - containerPort: 80
