name: Build & Deploy FastAPI to EKS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-1

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and push Docker image
      run: |
        docker build -t fastapi-eks .
        docker tag fastapi-eks:latest 997868087240.dkr.ecr.ap-southeast-1.amazonaws.com/fastapi-eks:latest
        docker push 997868087240.dkr.ecr.ap-southeast-1.amazonaws.com/fastapi-eks:latest

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
          --name python-cluster-fastapi \
          --region ap-southeast-1

    - name: Restart FastAPI deployment
      run: |
        kubectl rollout restart deployment fastapi-deployment
